<!-- Contact -->
<div id="contact">
    <!-- Google Map -->
    <div class="gmap">
        <div id="map" class="map height-400"></div>
        <address class="gmap-address">
            <p class="color-heading margin-b-0">м. Петроградская, Санкт-Петербург, Россия</p>
        </address>
    </div>
    <!-- End Google Map -->
</div>
<!-- End Contact -->