<!-- Promo Banner -->
<div class="promo-banner">
    <div class="container-sm content-lg">
        <h2 class="promo-banner-title">Пакеты услуг</h2>
        <p class="promo-banner-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
        <a class="btn-theme btn-theme-md btn-white-bg text-uppercase" href="#" title="Сделать заказ"><i class="btn-icon icon-basket-loaded"></i>Выбрать</a>
    </div>
</div>
<!-- End Promo Banner -->