<!-- Pricing -->
<div id="pricing">
    <div class="bg-color-sky-light">
        <div class="content-lg container">
            <div class="row row-space-2">
                <div class="col-sm-4 sm-margin-b-4">
                    <!-- Pricing -->
                    <div class="pricing">
                        <div class="margin-b-30">
                            <i class="pricing-icon icon-chemistry"></i>
                            <h3>Комплект Базовый - 1050 <span>руб</span></h3>
                            <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                        <ul class="list-unstyled pricing-list margin-b-50">
                            <li class="pricing-list-item">Закупии инвентарь</li>
                            <li class="pricing-list-item">Сделаем букет</li>
                            <li class="pricing-list-item">Украсим стол</li>
                        </ul>
                        <a href="pricing.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Заказать</a>
                    </div>
                    <!-- End Pricing -->
                </div>
                <div class="col-sm-4 sm-margin-b-4">
                    <!-- Pricing -->
                    <div class="pricing pricing-active">
                        <div class="margin-b-30">
                            <i class="pricing-icon icon-badge"></i>
                            <h3>Комплект Профессиональный - 10500 <span>руб</span></h3>
                            <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                        <ul class="list-unstyled pricing-list margin-b-50">
                            <li class="pricing-list-item">Больше фич</li>
                            <li class="pricing-list-item">Еще больше фич</li>
                            <li class="pricing-list-item">Очень много фич</li>
                        </ul>
                        <a href="pricing.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Заказать</a>
                    </div>
                    <!-- End Pricing -->
                </div>
                <div class="col-sm-4">
                    <!-- Pricing -->
                    <div class="pricing">
                        <div class="margin-b-30">
                            <i class="pricing-icon icon-shield"></i>
                            <h3>Комлект Ультра - 105000 <span>руб</span></h3>
                            <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                        <ul class="list-unstyled pricing-list margin-b-50">
                            <li class="pricing-list-item">Всё включено</li>
                            <li class="pricing-list-item">Абсолютно всё включено</li>
                            <li class="pricing-list-item">Совсем всё включено</li>
                        </ul>
                        <a href="pricing.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Заказать</a>
                    </div>
                    <!-- End Pricing -->
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
<!-- End Pricing -->