<!-- Service -->
<div id="service">
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="content-lg container">
            <div class="row row-space-2 margin-b-4">
                <div class="col-sm-4 sm-margin-b-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-equalizer"></i>
                        </div>
                        <div class="service-info">
                            <h3>Индивидуальный подход</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 sm-margin-b-4">
                    <div class="service bg-color-base wow fadeInDown" data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
                        <div class="service-element">
                            <i class="service-icon color-white icon-credit-card"></i>
                        </div>
                        <div class="service-info">
                            <h3 class="color-white">Гибкие цены</h3>
                            <p class="color-white margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-clock"></i>
                        </div>
                        <div class="service-info">
                            <h3>Всегда вовремя</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--// end row -->

            <div class="row row-space-2">
                <div class="col-sm-4 sm-margin-b-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-notebook"></i>
                        </div>
                        <div class="service-info">
                            <h3>Мы огонь</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 sm-margin-b-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-speedometer"></i>
                        </div>
                        <div class="service-info">
                            <h3>Мы рулим</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-badge"></i>
                        </div>
                        <div class="service-info">
                            <h3>Нормально сделаем</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
<!-- End Service -->