<!DOCTYPE html>
<html lang="ru" class="no-js">

<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - WeddingShop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- GLOBAL STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="~/css/site.min.css" rel="stylesheet" type="text/css" />
    <!-- PAGE LEVEL STYLES -->
    @await RenderSectionAsync("styles", false)
</head>
<!-- END HEAD -->

<!-- BODY -->
<body id="body" data-spy="scroll" data-target=".header">

    @await Html.PartialAsync("_Header")

    @RenderBody()

    @await Html.PartialAsync("_Footer")

    <!-- JAVASCRIPTS -->
    <!-- GLOBAL JS -->
    <script src="~/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="~/vendor/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/layout.js" type="text/javascript"></script>
    <!-- PAGE LEVEL JS -->
    @await RenderSectionAsync("scripts", false)

</body>
<!-- END BODY -->

</html>
