@model IndexViewModel

@{
    ViewData["Title"] = "Главная";
}

@section styles
    {
    <!-- PAGE LEVEL STYLES -->
    <link href="~/css/index.min.css" rel="stylesheet" type="text/css" />
}

<!--========== SLIDER ==========-->
<div class="promo-block">
    <div class="container">
        <div class="margin-b-40">
            <h1 class="promo-block-title">Sopova's Wedding Shop</h1>
            <p class="promo-block-text">Не нужно дальше искать. Вы пришли в нужное место :)</p>
        </div>
        <a class="js_popup-youtube btn-theme btn-theme-md btn-white-bg text-uppercase" href="https://www.youtube.com/watch?v=XDIJ_E6TKT4" title="Intro Video"><i class="btn-icon icon-control-play"></i> Посмотри пример нашей работы</a>
    </div>
</div>
<!--========== SLIDER ==========-->
<!--========== PAGE LAYOUT ==========-->
@await Html.PartialAsync("Partial/_Products")
@await Html.PartialAsync("Partial/_Service")
@await Html.PartialAsync("Partial/_Promo")
@await Html.PartialAsync("Partial/_Pricing")
@await Html.PartialAsync("Partial/_CustomerFeedback")
@await Html.PartialAsync("Partial/_ContactsMap")
<!--========== END PAGE LAYOUT ==========-->

@section scripts {
    <!-- PAGE LEVEL PLUGINS -->
    <script src="~/vendor/index.plugins.min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXUGTFS09pLVdsYEE9YrO2y4IAncAO2U&amp;callback=initMap" async defer></script>
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="~/js/index.min.js" type="text/javascript"></script>
}
